# --- Dependencies ---
node_modules/
pnpm-lock.yaml

# --- Next.js build ---
.next/
out/
dist/

# --- Environment ---
.env
.env.local
.env.*.local

# --- Logs ---
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# --- System files ---
.DS_Store
Thumbs.db

# --- Typescript ---
*.tsbuildinfo

# --- Sanity Studio ---
.sanity
